<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Booking system for the B40 MP7</title>
</head>

<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
			{% for cat, message in messages %}
				<em>{{cat }}:</em> {{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h1>B40 MP7 bookings</h1>
	<p>Status: {{ status }}</p>
	{% if locked %}
	<h2>Unlock the MP7:</h2>
	<form action="{{ url_for('release') }}", method="POST">
		Token: <input type="text" name="token" /><br />
		<input type="submit" />
	</form>
	<br />
	<h2>Force unlock the MP7:</h2> 
        <form action="{{ url_for('force_release') }}", method="POST">
                Magic words: <input type="text" name="magic" /><br />
		<input type="submit" />
        </form>
	(the magic words are <em>{{ expected_magic }}</em>)
        <br />
	{% else %}
	<h2>Book the MP7:</h2>
	<form action="{{ url_for('book') }}", method="POST">
		Username: <input type="text" name="username" /><br />
		Expected time [mins]: <input type="text" name="duration" /><br />
		<input type="submit" />
	</form>
	{% endif %}
</body>

</html>

